<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>vue列表渲染</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <div 
      v-for="(item, index) of list"
    >
      {{item}} -- {{index}}
    </div>
    ------------------------
    <div 
      v-for="(item, key, index) of userInfo"
    >
      {{item}} -- {{key}} -- {{index}}
    </div>
  </div>
  <script>
    // 若有多个循环，但不想渲染v-for所在的元素，使用template标签

    // 改变数组，有2种方法：
    // 1、需要用数组的变异方法(7种：push/pop/shift/unshift/splice/sort/reverse)，不能使用下标改变arr[5] = 'haha'
    // 2、直接改变引用的值 this.list = ['my', 'change'];
    
    // 改变对象，不能直接添加属性，是无法检测到的，
    // 1、可以直接改变对象的引用，
    // 2、使用vm.$set方法：vm.$set(vm.userInfo, 'hobby', 'read')，
    // 3、使用Vue.set方法：Vue.set(vm.userInfo, 'salary', 'secret')
    // 4、若添加多个属性，把多个属性创建一个新的对象：
    /*
    vm.userInfo = Object.assign({}, vm.userInfo, {
      other: 'haha',
      favoriteColor: 'Vue Green'
    })
    */

    var vm = new Vue({
      el: '#app',
      data: {
        list: ['my', 'name', 'is', 'andy'],
        userInfo: {
          name: 'andy',
          age: 18,
          gender: 'male'
        }
      }
    })
  </script>
</body>
</html>