<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>5-7vue中的动画封装</title>
  <style>
    /* .myfade-enter, .myfade-leave-to {
      opacity: 0;
    }
    .myfade-enter-active, .myfade-leave-active {
      transition: opacity 1s;
    } */
  </style>
  <script src="../vue.js"></script>
</head>
<body>
  <div id="app">
    <!-- 父组件传递一个show控制是否显示 -->
    <myfade :show="show">
      <div>hello world</div>
    </myfade>
    <button @click="handleClick">toggle</button>
  </div>
  <script>
    // 子组件是否显示：只能使用v-if，不能使用v-show

    // 组件封装，使用父组件的CSS
    // Vue.component('myfade', {
    //   props: ['show'],
    //   template: `
    //     <transition name="myfade">
    //       <slot v-if="show"></slot>
    //     </transition>
    //   `
    // })

    // 2. 不使用CSS，使用JS动画，全封装
    Vue.component('myfade', {
      props: ['show'],
      template: `
        <transition name="myfade" @before-enter="handleBeforeEnter" @enter="handleEnter">
          <slot v-if="show"></slot>
        </transition>
      `,
      methods: {
        handleBeforeEnter: function(el) {
          el.style.color = 'red';
        },
        handleEnter: function(el, done) {
          setTimeout(function() {
            el.style.color = 'blue';
            done();
          }, 2000)
        }
      }
    });
    var vm = new Vue({
      el: '#app',
      data: {
        show: true
      },
      methods: {
        handleClick: function() {
          this.show = !this.show;
        }
      }
    })
  </script>
</body>
</html>